body {
  background: black;
  font-family: san-serif;
  color: #fff;
}

.opextxt {
  line-height: 1.89em;
  width: 500px;
  margin: 10px;
  padding: 0 0 0 415px;
}

.headshot {
  padding: 200px 0 0 500px;
}

.Aboutme {
  padding: 0 0 0 500px;
}

.Dogimgs {
  padding: 0 0 0 500px;
}

.Intreststitle {
  padding: 0 0 0 500px;
}

.intreststxt {
 padding: 0 0 0 500px;
}

.links {
  padding: 0 0 0 500px;
}

h1 {
  padding-left: 200px;
  top: 10px;
  position: absolute;
}

p {
    line-height: 1.2em;
    width: 800px;
    margin: 8px;
}




