body {
  background: black;
  font-family: san-serif;
  color: #fff;
}

.opentxt {
  line-height: 1.89em;
  width: 500px;
  margin: 10px;
  padding: 0 0 0 415px;
}

.Headshot {
  padding: 200px 0 0 500px;
}

.Aboutme {
  padding: 0 0 0 500px;
}

.Dogimgs {
  padding: 0 0 0 500px;
}

.Intreststitle {
  padding: 0 0 0 500px;
}

.intreststxt {
 padding: 0 0 0 500px;
}

.links {
  padding: 0 0 0 500px;
}

h1 {
  padding-left: 200px;
  top: 10px;
  position: absolute;
}








